<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link media="all" rel="stylesheet" type="text/css" href="/asset/css/main.css" />
	<title>FOSDEM 2017 - {% block title %}Streaming{% endblock %}</title>
	</head>
	<body>
		<div id="header">
			<div class="header-holder">
				<h1 class="logo">
					<a href="https://fosdem.org/">FOSDEM17</a>
				</h1>
				<ul id="nav">
					<li class="home"><a href="https://fosdem.org/">Home</a></li>
					<li><a href="https://fosdem.org/about/">About</a></li>
					<li><a href="https://fosdem.org/news/">News</a></li>
					<li class="active"><a href="https://fosdem.org/schedule/">Schedule</a></li>
					<li><a href="https://fosdem.org/practical/">Practical</a></li>
					<li class="search-holder">
						<div style="width: 167px; height: 1px">&nbsp;</div>
					</li>
				</ul> <!-- #nav -->
			</div> <!-- .header-holder -->
		</div> <!-- #header -->

		<div class="title-box">
			<div class="holder">
				<div class="frame">
					<ul class="navbar">
						<li><a href="https://fosdem.org/news/">News</a></li>
						<li><a href="https://fosdem.org/about/sponsors/">Sponsors</a></li>
						<li><a href="https://fosdem.org/contact/">Contact</a></li>
					</ul>
					<div class="text-block">
						<h2>Brussels <span>/</span> <strong>4 &amp; 5 February 2017</strong></h2>
						<a class="btn-purple" href="https://fosdem.org/schedule/">schedule</a>
					</div>
				</div>
			</div>
		</div> <!-- .title-box -->

		<div id="main">
			{% block content %}{% endblock %}
		</div> <!-- #main -->

		<div id="footer">
			<div class="footer-holder">
				<div class="panel-block">
					<div class="panel-column">
						<h3>FOSDEM</h3>
						<ul class="panel">
							<li class="home"><a accesskey="1" href="https://fosdem.org/">Home</a></li>
							<li><a accesskey="2" href="https://fosdem.org/news/">News</a></li>
							<li><a href="https://fosdem.org/about/">About</a></li>
							<li><a href="https://fosdem.org/about/sponsors/">Sponsors</a></li>
							<li><a href="https://fosdem.org/support/donate/">Donate</a></li>
							<li><a accesskey="5" href="https://fosdem.org/faq/">FAQ</a></li>
							<li><a href="https://fosdem.org/archives/">Archives</a></li>
						</ul>
					</div> <!-- .panel-column -->

					<div class="panel-column">
						<h3>This year</h3>
						<ul class="panel">
							<li><a accesskey="s" href="https://fosdem.org/schedule/">Schedule</a></li>
							<li><a href="https://fosdem.org/stands/">Stands</a></li>
							<li><a href="https://fosdem.org/certification/">Certification exams</a></li>
							<li><a href="https://fosdem.org/keysigning/">Keysigning</a></li>
							<li><a href="https://fosdem.org/beerevent/">Friday Beer Event</a></li>
							<li><a href="https://fosdem.org/fringe/">Fringe</a></li>
						</ul>
					</div> <!-- .panel-column -->

					<div class="panel-column">
						<h3>Practical information</h3>
						<ul class="panel">
							<li><a href="https://fosdem.org/practical/transportation/">Getting there</a></li>
							<li><a href="https://fosdem.org/practical/accessibility/">Accessibility</a></li>
							<li><a href="https://fosdem.org/practical/accommodation/">Accommodation</a></li>
							<li><a href="https://fosdem.org/practical/conduct/">Code of Conduct</a></li>
							<li><a href="https://fosdem.org/practical/services/">During the Event</a></li>
							<li><a href="https://fosdem.org/practical/jobcorner/">Job Corner</a></li>
						</ul>
					</div> <!-- .panel-column -->

					<div class="panel-column">
						<h3>Media and press</h3>
						<ul class="panel">
							<li><a href="https://fosdem.org/interviews/">Interviews</a></li>
							<li><a href="http://video.fosdem.org/">Video recordings</a></li>
							<li><a href="https://fosdem.org/social/">Social media</a></li>
							<li><a href="https://fosdem.org/support/promote/">Promote</a></li>
						</ul>
					</div> <!-- .panel-column -->
				</div> <!-- .panel-block -->

				<div class="company-info">
					<div class="company-info-logo"></div>
					<strong class="logo-small"><a href="https://fosdem.org/schedule/">FOSDEM17</a></strong>
					<p>Brussels <span>/</span> <strong>4 &amp; 5 February 2017</strong></p>
				</div>

				<div class="license-info">
					<div class="license-info-logo"></div>
					This work is licensed under the Creative Commons Attribution 2.0 Belgium Licence.<br/>
					To view a copy of this licence, visit
					<a class="quiet" rel="license" href="http://creativecommons.org/licenses/by/2.0/be/deed.en">http://creativecommons.org/licenses/by/2.0/be/deed.en</a><br/>
					or send a letter to Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
				</div>
			</div>
		</div>
	</body>
</html>
