{% extends "layout.base.twig" %}

{% block content %}
    <h1 id="track"></h1>

	<p>Unfortunately, the stream for this room is not available via this interface. Please join the room via <a href="https://chat.fosdem.org/">https://chat.fosdem.org</a>.</p>
{% endblock %}
