[submodule "hardware/firmware/box_rp2040/vendor/st7789"]
	path = hardware/firmware/box_rp2040/vendor/st7789
	url = git@github.com:mteam/st7789.git
[submodule "hardware/firmware/box_rp2040/vendor/mcufont"]
	path = hardware/firmware/box_rp2040/vendor/mcufont
	url = git@github.com:mcufont/mcufont.git
[submodule "hardware/firmware/box_rp2040/vendor/comic-shanns"]
	path = hardware/firmware/box_rp2040/vendor/comic-shanns
	url = git@github.com:shannpersand/comic-shanns.git
[submodule "hardware/firmware/box_rp2040/vendor/pico-sdk"]
	path = hardware/firmware/box_rp2040/vendor/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "hardware/firmware/audio_board/vendor/Wire"]
	path = hardware/firmware/audio_board/vendor/Wire
	url = https://github.com/PaulStoffregen/Wire.git
[submodule "hardware/firmware/audio_board/vendor/SPI"]
	path = hardware/firmware/audio_board/vendor/SPI
	url = https://github.com/PaulStoffregen/SPI.git
[submodule "hardware/firmware/audio_board/vendor/OSC"]
	path = hardware/firmware/audio_board/vendor/OSC
	url = https://github.com/CNMAT/OSC
[submodule "hardware/firmware/audio_board/vendor/ST7735_t3"]
	path = hardware/firmware/audio_board/vendor/ST7735_t3
	url = https://github.com/PaulStoffregen/ST7735_t3
[submodule "hardware/pcbs/kicad_libs/mta100"]
	path = hardware/pcbs/kicad_libs/mta100
	url = https://github.com/MartijnBraam/MTA-100
[submodule "hardware/firmware/box_rp2040/vendor/tca9534"]
	path = hardware/firmware/box_rp2040/vendor/tca9534
	url = git@github.com:bear-fighter/RP2040_TCA9534-Driver.git
[submodule "hardware/firmware/box_rp2040/vendor/rp2040_tca9534"]
	path = hardware/firmware/box_rp2040/vendor/rp2040_tca9534
	url = git@github.com:dexterlb/rp2040_tca9534.git
[submodule "hardware/firmware/audio_board/vendor/SD"]
	path = hardware/firmware/audio_board/vendor/SD
	url = https://github.com/PaulStoffregen/SD
[submodule "hardware/firmware/audio_board/vendor/SdFat"]
	path = hardware/firmware/audio_board/vendor/SdFat
	url = https://github.com/PaulStoffregen/SdFat
[submodule "hardware/firmware/audio_board/vendor/SerialFlash"]
	path = hardware/firmware/audio_board/vendor/SerialFlash
	url = https://github.com/PaulStoffregen/SerialFlash
