[submodule "hardware/firmware/box_rp2040/vendor/st7789"]
	path = hardware/firmware/box_rp2040/vendor/st7789
	url = git@github.com:mteam/st7789.git
[submodule "hardware/firmware/box_rp2040/vendor/mcufont"]
	path = hardware/firmware/box_rp2040/vendor/mcufont
	url = git@github.com:mcufont/mcufont.git
