[Unit]
Description=FOSBOX host/mac setter
Before=dhcpcd@eth0.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setnetwork

[Install]
WantedBy=multi-user.target

