[Unit]
Description=FOSBOX host/mac setter

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setnetwork

[Install]
WantedBy=multi-user.target
Before=dhcpcd@eth0.service

