[submodule "vendor/Wire"]
	path = vendor/Wire
	url = https://github.com/PaulStoffregen/Wire.git
[submodule "vendor/SPI"]
	path = vendor/SPI
	url = https://github.com/PaulStoffregen/SPI.git
[submodule "vendor/SD"]
	path = vendor/SD
	url = https://github.com/PaulStoffregen/SD.git
[submodule "vendor/SdFat"]
	path = vendor/SdFat
	url = https://github.com/PaulStoffregen/SdFat.git
[submodule "vendor/SerialFlash"]
	path = vendor/SerialFlash
	url = https://github.com/PaulStoffregen/SerialFlash.git
[submodule "vendor/Adafruit_SSD1306"]
	path = vendor/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306
[submodule "vendor/Adafruit_BusIO"]
	path = vendor/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "vendor/Adafruit-GFX-Library"]
	path = vendor/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
