.slider {
  position: relative;
  height: 15rem;
  width: 5px;
  background: black;
  margin: 0 auto;
  border-radius: 3px;
  touch-action: none;

  .real {
    position: absolute;
    width: 5px;
    background: @primary;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .user {
    height: 18px;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -9px;
    border-radius: 4px;
    background: linear-gradient(#c5c5c5 0%, #989898 10%, #575757 11%, #adadad 49%, #515151 50%, #ccc 53%, #cbcbcb 85%, #494949 86%, #474747);
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.5);
  }
}
